<div class="column is-one-third is-offset-one-third">
  <div class="heading center-text border">
    <%= form_tag(profiles_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Profiles" %>
    <%= submit_tag "Search" %>
    <% end %>
  </div>
</div>

<p id="notice"><%= notice %></p>
<body>
  <div class="column is-one-third is-offset-one-third">
    <div class="heading center-text border">
      <h1> Profiles</h1>
    </div>
  </div>

  <body>
    <div class="container">
      <div class="columns is-multiline">
      <% @profiles.each do |profile| %>
          <div class="column is-one-third ">
            <div class="card is-one-third">
              <div class="card-content">
                <p class="title">
                  <ul>
                    <li><%= image_tag profile.avatar.url(:thumb) %></li>
                    <li>Name:<%= profile.name %></li>
                  </ul>
                </p>
                <p class="subtitle">
                  <ul>
                    <li>Username:<%= profile.username%></li>
                    <li>Age:<%= profile.age %></li>
                    <li>Gender:<%= profile.gender %></li>
                    <li>Location:<%= profile.city %></li>
                    <li>Bio:<%= profile.bio %></li>
                    <li>Interests:<%= profile.interests %></li>
                  </ul>
                </p>
                <footer class="card-footer">
                  <p class="card-footer-item">
                  <%= link_to 'Show', profile %>
                  <% if policy(profile).update? %>
                    <%= link_to 'Edit', edit_profile_path(@profile)%>
                    <%= link_to 'Delete', profile_path(@profile), method: :delete, data: { confirm: 'Are you sure?' } %>
                   <% end %>
                </p>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </body>
