<p id="notice"><%= notice %></p>
<div class="white-body">
  <div class="column is-one-third is-offset-one-third">
    <div class="black-text center-text border topic-card">
      <%= image_tag @profile.avatar.url(:medium) %>
      <p>
        <strong>Name:</strong>
        <%= @profile.name %>
      </p>

      <p>
        <strong>Username:</strong>
        <%= @profile.username %>
      </p>

      <p>
        <strong>Age:</strong>
        <%= @profile.age %>
      </p>

      <p>
        <strong>Gender:</strong>
        <%= @profile.gender %>
      </p>

      <p>
        <strong>City:</strong>
        <%= @profile.city %>
      </p>

      <p>
        <strong>Bio:</strong>
        <%= @profile.bio %>
      </p>

      <p>
        <strong>Interests:</strong>
        <%= @profile.interests %>
      </p>

      <% if policy(@profile).update? %>
        <%= link_to 'Edit', edit_profile_path(@profile)%>
        <%= link_to 'Delete', profile_path(@profile), method: :delete, data: { confirm: 'Are you sure?' } %>
       <% end %>
      <%= link_to 'Back', profiles_path %>
    </div>
  </div>
</div>
