<p id="notice"><%= notice %></p>
<div class="background">
  <div class="column is-one-third is-offset-one-third">
    <div class="heading border-box center-text">
        <h2>Topics</h2>
    </div>
  </div>
</div>

<body>
  <div class="background">
    <div class="container">
      <div class="columns is-multiline">
       <% @topics.each do |topic| %>
         <div class="column is-one-third">
            <div class="card">
              <div class="card-image banner-colour">
                <figure class="image is-3by3">
                  <%= image_tag topic.cover_art.url(:medium) %>
                </figure>
              </div>
              <div class="card-content banner-colour">
                <div class="media">
                  <div class="media-left">
                  </div>
                  <div class="media-content">
                    <p class="center-text is-4 heading"><%= topic.name %></p>
                  </div>
                </div>
                <div class="content card-footer">
                  <%= link_to 'Show', topic_posts_path(topic), class: "space topic-links" %>
                  <% if policy(topic).update? %>
                    <%= link_to 'Edit', edit_topic_path(topic), class: "space topic-links"%>
                  <% end %>
                  <% if policy(topic).destroy? %>
                    <%= link_to 'Delete', topic_path(topic), method: :delete, data: { confirm: 'Are you sure?' } %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
       <% end %>
      </div>
      <%= link_to 'New Topic', new_topic_path if current_user.admin? %>
    </div>
  </div>
</body>
