<p id="notice"><%= notice %></p>
<div class="background">
  <div class="column is-one-third is-offset-one-third">
    <div class="heading center-text border banner-colour">
        <h2>Topics</h2>
    </div>
  </div>
</div>

<body>
  <div class="grey-background">
    <div class="container">
      <div class="columns is-multiline">
       <% @topics.each do |topic| %>
         <div class="column is-one-third">
           <div class="card is-one-third border-grey topic-card">
             <div class="card-content">
               <p class="title center-text">
                  <%= topic.name %>
                <p class="subtitle center-text">
                  <!-- <%= topic.name %> -->
                  <!-- <%= topic.description %> -->
                  <%= topic.image %>
                </p>
              </div>
              <footer class="card-footer footer-colour border">
                <p class="card-footer-item">
                  <%= link_to 'Show', topic_posts_path(topic), class: "space" %>
                  <% if policy(topic).update? %>
                    <%= link_to 'Edit', edit_topic_path(topic), class: "space"%>
                  <% end %>
                  <% if policy(topic).destroy? %>
                    <%= link_to 'Delete', topic_path(topic), method: :delete, data: { confirm: 'Are you sure?' } %>
                  <% end %>
                </p>
              </footer>
           </div>
         </div>
       <% end %>
      </div>
      <%= link_to 'New Topic', new_topic_path if current_user.admin? %>
    </div>
  </div>
</body>
