<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @topic.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @topic.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @topic.image %>
</p>

<!-- <p>
  <strong>Slug:</strong>
  <%= @topic.slug %>
</p> -->

<% if policy(@topic).update? %>
  <%= link_to 'Edit', edit_profile_path(@topic)%>
  <%= link_to 'Delete', edit_topic_path(@topic), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
 <%= link_to 'Back', topic_post_path(@topic) %>


<%= link_to 'Join the conversation', new_topic_post_path(@topic) %>
