<!-- <body>
  <header id ="main_navigation" class="clearfix">
    <a href="/" class="name">Name</a>
    <nav>
      <a href="/pages/about">About</a>
      <a href="/pages/forum">Forum</a>
      <a href="/pages/contact">Contact</a>
    </nav>
    <ul id="nav_mobile" class="right hide-on-med-and-down">
          <li><%= link_to('Profile', profiles_path) %></li>
         <% if user_signed_in? %>
          <li>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          </li>
         <% else %>
          <li>
          <%= link_to('Login', new_user_session_path)  %>
          </li>
          <% end %>
    </ul>
  </header>
</body> -->

<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item" href="/users/sign_in">
        <img src="" alt="Bulma logo">
      </a>
      <a class="nav-item is-tab is-hidden-mobile nav-links " href="/pages/about">About</a>
      <a class="nav-item is-tab is-hidden-mobile nav-links" href="/pages/forum">Forum</a>
      <a class="nav-item is-tab is-hidden-mobile nav-links" href="/pages/contact">Contact</a>
    </div>

    <div class="nav-right nav-menu">
      <a class="nav-item is-tab">
        <a><%= link_to('Profile', profiles_path) %></a>
        <% if user_signed_in? %>
        <a><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></a>
        <% else %>
        <a><%= link_to('Login', new_user_session_path)  %></a>
        <% end %>
      </a>
    </div>
  </div>
</nav>
