<div class="background">
  <div class="column is-one-third is-offset-one-third">
    <div class="heading center-text border banner-colour">
        <h2>Need some help?</h2>
    </div>
  </div>
</div>

<div class="about-background">
<div class="col-md-6">
  <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% elsif flash[:warning] %>
      <div class="alert alert-danger"><%= flash[:warning] %></div>
    <% else %>
  <% end %>
  <div class="column is-one-third is-offset-one-third">
    <div class="heading center-text border">
     <h1>Request</h1>
    </div>
  </div>
</div>


<div class="column is-one-third is-offset-one-third">
  <div class="center-text border">
    <ul>
      <%= simple_form_for :contact do |f| %>
        <li class="padding"><%= f.input :email, placeholder: 'type email here' %></li>
          <li class="padding"><%= f.input :message, placeholder: 'type message here', :as => :text %></li>
          <%= f.button :submit, "Send" %>
        </ul>
        </div>
      <% end %>
  </div>
</div>
