<p id="notice"><%= notice %></p>

<div class="background">
  <div class="column is-one-third is-offset-one-third">
    <div class="heading center-text border banner-colour">
      <h1> Posts</h1>
    </div>
    <div class="heading center-text ">
      <%= form_tag(profiles_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Profiles" %>
      <%= submit_tag "Search" %>
      <% end %>
    </div>
  </div>
</div>

<div class="about-background">
  <div class="column is-half is-offset-one-quarter">
    <table>
      <tbody>
        <% @posts.each do |post| %>
          <ul class="box topic-card center-text">
            <li>Title:<%= post.title %></li>
            <li><%= post.content %></li>
            <li>User:<%= post.user.email %></li>
            <%= link_to 'Show',  topic_post_path(post.topic, post) %>
            <% if policy(post).update? %>
              <%= link_to 'Edit', edit_topic_post_path(post.topic, post)%>
              <%= link_to 'Delete', topic_post_path(post.topic, post), method: :delete, data: { confirm: 'Are you sure?' } %>
             <% end %>
          </ul>
        <% end %>
      </tbody>
    </table>
    <div>
      <%= link_to 'Join the conversation!', new_topic_post_path, class: "button" %>
    </div>
    </div>
  </div>
<div>
